* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  padding-bottom: 200px;
}

h1 {
  color: red;
}

.red-title {
  font-size: 50px;
  color: red;
  background-color: black;
}

.default-title {
  font-size: 40px;
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
}